#board {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#board img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#board img:hover {
  color: bisque;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: 0.1s;
}

html,
body {
  height: 100%;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: rgb(2, 38, 87);
}

#board_Reset {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(25, 0, 69);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#resetButton {
  font-size: large;
  font-weight: bold;
  align-items: center;
  width: 100px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(147, 159, 239);
  border-radius: 10px;
  background-color: rgb(46, 49, 149);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  color: bisque;
}

#resetButton:hover {
  background-color: rgb(0, 219, 253);
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transition: 0.2s;
}

#result {
  font-size: large;
  font-weight: bold;
  align-items: center;
  color: rgb(255, 255, 255);
}

#your_results {
  color: antiquewhite;
}

@media only screen and (max-width: 1400px) {
  html,
  body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(2, 38, 87);
  }
}
