#board {
  display: grid;
  gap: 2px 2px 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-row: 1fr 1fr 1fr 1fr; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

  z-index: 1;
}
